.logo{
    width: 230px;
    height: 65px;
}
p{
    font-family: 'Kanit', sans-serif;
}
li{
    font-family: 'Kanit', sans-serif;
}
h1,h5 {
    font-family: 'Bebas Neue', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Pacifico', cursive;
}
body {
    overflow-x: hidden;
  }